* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    display: table;
    content: '';
    clear: both;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 12%;
    height: 100vh;
}

.header-main {
    width: 88%;
    height: 50px;
    position: fixed;
    right: 0;
    top: 0;
}

footer {
    height: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}


/* **** debug **** */

.debug .header-main {
    background-color: gray;
}

.debug .body-main {
    background-color: blue;
}

.debug footer {
    background-color: lightgrey;
}

