/* ***** commons ***** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    display: table;
    content: '';
    clear: both;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Layout mobile xs */
.container {
    display: flex;
    height: calc(100vh - 100px);
}

nav {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 50px;
    padding: 8px 0;
    justify-content: space-between;
    min-height: 200px;
}

.nav-top, .nav-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invisibile {
    display: none;
}

.logo-large {
    display: none;
    filter: grayscale(80%);
}

.logo-small {
    width: 30px;
    margin-bottom: 10px;
    filter: invert(0.2);
}

.icon-nav {
    filter: invert(0.2);
    margin-bottom: 5px;
    width: 25px;
}

.download-icon>a {
    display: inline-block;
    border: 1px solid gray;
    font-size: 8px;
    padding: 2px 3px;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    text-align: center;
    line-height: 10px;
    margin-bottom: 15px;
}

.download-icon a {
    text-decoration: none;
    color: gray;
}

.profile-icon>a {
    display: inline-block;
    background-color: gray;
    border-radius: 2em;
    height: 30px;
    width: 30px;
    overflow: hidden;
    text-align: center;
}

.profile-icon img {
    height: 30px;
}

/* Inizio main */
main {
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
}

.header-main {
    width: calc(100% - 50px);
    height: 80px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
    background-color: rgba(0, 0, 10, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

.header-main button {
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 2em;
    padding: 10px 25px;
    background-color: transparent;
    font-weight: 700;
}

.header-main button a {
    color: white;
}

.body-main {
    height: 100%;
    margin-top: 80px;
    overflow-y: auto;
    padding: 12px;
    background-color: rgba(0, 5, 20, 0.9);

}

.body-main .nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.body-main .nav ul li {
    margin-bottom: 20px;
    margin-left: 20px;
}

.body-main .nav ul li a {
    color: gray;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.section1 {
    margin: 20px 0;
}

.body-main h2 {
    color: white;
    margin-bottom: 13px;
}

.container-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: calc(100% / 2 - 8px);
    max-width: 180px;
    min-width: 120px;
    margin-left: 8px;
    text-align: center;
    margin-top: 8px;
}

.box .title {
    color: white;
    font-size: 15px;
    margin: 5px 0;
}

.box .author {
    color: gray;
    font-size: 12px;
    font-weight: 700;
}

.box img {
    width: 100%;
}

section>p {
    color: gray;
    font-size: 11px;
    font-weight: 700;
} 

.section2, .section3 {
    margin-top: 20px;
}

/* ***** Inizio footer ***** */
footer {
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.section-footer.left {
    display: flex;
    align-items: center;
    padding: 10px;
}

.section-footer.left img {
    width: 40px;
}

.section-footer.left .song-description {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.section-footer.left .song-description .author {
    color: white;
    font-size: 12px;
    font-weight: 700;
}

.section-footer.left .song-description .song-name {
    color: gray;
    font-size: 10px;
}

.icon-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5px;
    color: gray;
    height: 50%;
}

.section-footer.central {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.central-top {
    color: white;
    display: flex;
    font-size: 16px;
    max-width: 100%;
    width: 200px;    
    align-items: center;
    justify-content: center;
}

.central-top i {
    margin-right: 10px;
}

.central-top i:last-child {
    margin-right: 0;
}

.central-top i.play {
    margin-left: 10px;
    margin-right: 20px;
}

.central-top .play {
    font-size: 28px;
}

.central-bottom {
    color: white;
    font-size: 8px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.central-bottom .barra-scorrimento {
    background-color: lightgray;
    border-radius: 2em;
    height: 3px;
    width: 60%;
    margin: 0 10px;
}

.section-footer.right {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    color: white;
    min-width: 150px;
    max-width: 290px;
}
.section-footer.right i{
    margin: 5px;
    font-size: 12px;
}

.section-footer.right .barra-volume {
    background-color: lightgray;
    border-radius: 2em;
    height: 3px;
    width: 45%;
    min-width: 65px;
    margin: 0 10px;
}




/* ***** Media Queries ****** */
/* Small */
@media screen and (min-width: 576px) {
    nav {
        width: 230px;
        padding: 15px 25px;
        min-height: 380px;
    }

    .nav-top {
        height: calc(100% - 80px);
    }

    .nav-bottom{
        height: 80px;
    }

    .invisibile {
        display: inline-block;
    }

    .nav-top, .nav-bottom {
        align-items: flex-start;
    }

    .logo-large {
        display: inline-block;
        margin-bottom: 25px;
    }

    .logo-small {
        display: none;
    }

    .icon-nav {
        margin-bottom: 0;
    }

    .download-icon {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        padding-bottom: 10px;
        width: 100%;
        border-bottom: 1px solid gray;
    }

    .download-icon>a {
        margin-bottom: 0;
    }

    .download-icon>span {
        margin-left: 10px;
        font-size: 12px;
    }

    .profile-icon {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .profile-icon>span {
        margin-left: 10px;
        
    }

    .profile-icon>span>a {
        font-weight: 700;
        color: white;
        font-size: 16px;
    }

    .icon {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .icon>.invisibile{
        margin-left: 8px;
        color: gray;
        font-size: 12px;
    }

    .playlist {
        overflow: hidden;
    }

    .playlist h4 {
        color: white;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 15px;
    }  

    .new-playlist {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .new-playlist a:last-child {
        color: gray;
        margin-left: 8px;
        font-size: 15px;
    }

    .new-playlist-btn {
        display: inline-block;
        background-color: gray;
        color: black;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    .playlist-list ul li a{
        color: gray;
        margin: 8px 0;
        display: inline-block;
        font-size: 12px;
    }

    .playlist-list {
        overflow-y: auto;
        height: 70%;
        scrollbar-color: gray lightgray;
    }
    
    
    /* Inizio main */
    main {
        width: calc(100% - 230px);
    }

    .header-main {
        width: calc(100% - 230px);
    }
}





/* **** debug **** */
/* .debug .header-main {
    background-color: gray;
} */

/* .debug .body-main {
    background-color: blue;
} */

/* .debug footer {
    background-color: gray;
} */

