/* ***** commons ***** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    display: table;
    content: '';
    clear: both;
}


/* Layout mobile xs */
.container {
    display: flex;
    height: calc(100vh - 80px);
}

nav {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 50px;
    height: calc(100vh - 80px);
    
    justify-content: space-between;
}

ul li {
    list-style: none;
}

.nav-top, .nav-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invisibile {
    display: none;
}

.logo-large {
    display: none;
    filter: grayscale(80%);
}

.logo-small {
    width: 75%;
    margin-bottom: 10px;
    filter: invert(0.2);
}

.icon-nav {
    filter: invert(0.2);
}

.download-icon {
    color: white;
    border: 1px solid white;
    font-size: 10px;
    padding: 2px 3px;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    text-align: center;
    line-height: 11px;
}

.profile-icon {
    background-color: gray;
    border-radius: 2em;
    height: 30px;
    width: 30px;
    overflow: hidden;
    text-align: center;
}

.profile-icon img {
    height: 30px;
}

/* Inizio main */
main {
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
}

.header-main {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
    background-color: rgb(24, 24, 24);
}

.header-main button {
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 2em;
    padding: 10px 20px;
    background-color: transparent;
}

.body-main {
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

footer {
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
}




/* **** debug **** */
/* .debug .header-main {
    background-color: gray;
} */

.debug .body-main {
    background-color: blue;
}

.debug footer {
    background-color: lightgrey;
}

